<%- model_class = DoSensorReading -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:reading_timestamp) %>:</strong></dt>
  <dd><%= @do_sensor_reading.reading_timestamp.in_time_zone("America/Chicago") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:do_reading_value) %>:</strong></dt>
  <dd><%= @do_sensor_reading.do_reading_value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:do_percent_reading) %>:</strong></dt>
  <dd><%= @do_sensor_reading.do_percent_reading %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tank_id) %>:</strong></dt>
  <dd><%= @do_sensor_reading.tank_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              do_sensor_readings_path, :class => 'btn'  %>
<% if can? :update, DoSensorReading %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_do_sensor_reading_path(@do_sensor_reading), :class => 'btn' %>
<% end %>
<% if can? :destroy, DoSensorReading %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              do_sensor_reading_path(@do_sensor_reading),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
</div>
