<%- model_class = K1SensorReading -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:reading_timestamp) %>:</strong></dt>
  <dd><%= @k1_sensor_reading.reading_timestamp.in_time_zone("America/Chicago") %></dd>
  <dt><strong>Electrical Conductivity µs/cm:</strong></dt>
  <dd><%= @k1_sensor_reading.ec_reading_value %></dd>
  <dt><strong>Total Dissolved Solids mg/L:</strong></dt>
  <dd><%= @k1_sensor_reading.tds_reading_value %></dd>
  <dt><strong>Salinity - psu:</strong></dt>
  <dd><%= @k1_sensor_reading.sal_reading_value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tank_id) %>:</strong></dt>
  <dd><%= @k1_sensor_reading.tank_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              k1_sensor_readings_path, :class => 'btn'  %>
  <% if (can? :update, K1SensorReading) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_k1_sensor_reading_path(@k1_sensor_reading), :class => 'btn' %>
  <% end %>
  <% if (can? :destroy, K1SensorReading) %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              k1_sensor_reading_path(@k1_sensor_reading),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
